* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  max-height: 60px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
}

nav .nav__logo p {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 500;
}

nav .nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
}

nav .nav__bar.active .bars {
  position: absolute;
}

nav .nav__bar.active .bars:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .nav__bar.active .bars:nth-of-type(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform-style: flat;
          transform-style: flat;
}

nav .nav__bar.active .bars:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .bars {
  min-height: 3px;
  width: 20px;
  background-color: #000000;
  margin-top: 3px;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

nav .nav__content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

nav .nav__items {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  top: -100vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: top 250ms ease;
  transition: top 250ms ease;
}

nav .nav__items li {
  margin-top: 50px;
  list-style: none;
}

nav .nav__items li:nth-of-type(1) {
  margin-top: 0;
}

nav .nav__items li a {
  text-decoration: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #000000;
  padding: 10px;
}

nav .nav__items.active {
  top: 0px;
}

.landing__page {
  margin-top: 60px;
  padding: 60px 20px;
  color: #fff;
  background-image: url("./images/background-women-top.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__page .page__title {
  font-weight: bold;
  font-style: italic;
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.landing__page .page__semi__title {
  margin-top: 14px;
  color: #db5461;
  text-transform: uppercase;
  font-size: 1.8rem;
  position: relative;
  display: inline-block;
  text-align: center;
}

.landing__page .page__semi__title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #db5461;
  left: 0;
  bottom: -3px;
  z-index: 9;
}

.landing__page .page__gist {
  margin-top: 16px;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: center;
}

.landing__page .page__btns {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__page .contact__btn,
.landing__page .signup__btn {
  outline: none;
  border: none;
  background-color: #db5461;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.landing__page .contact__btn {
  margin-right: 10px;
}

.landing__page .signup__btn {
  background-color: transparent;
  border: 2px solid #db5461;
}

.services {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services h2 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.services h2::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #db5461;
  left: 0;
  bottom: -3px;
}

.services .service__list .service__1,
.services .service__list .service__2 {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .service__list .service__1 img,
.services .service__list .service__2 img {
  max-width: 100%;
}

.services .service__list .service__1 .service__content,
.services .service__list .service__2 .service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .service__list .service__1 h6,
.services .service__list .service__2 h6 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 24px;
  text-transform: uppercase;
}

.services .service__list .service__1 p,
.services .service__list .service__2 p {
  margin-top: 16px;
  line-height: 2;
  font-size: 1.4rem;
  text-align: center;
}

.aboutus {
  padding: 20px;
  background-image: url("./images/background-women-bottom.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center top;
}

.aboutus h2 {
  color: #db5461;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
}

.aboutus h2::after {
  content: "";
  position: absolute;
  background-color: #db5461;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
}

.aboutus p {
  margin-top: 42px;
  color: #fff;
  line-height: 1.75;
  font-size: 1.4rem;
  opacity: 0.9;
  text-align: center;
}

.aboutus .social__icons {
  margin-top: 30px;
}

.aboutus .social__icons a {
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
}

.contactus {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactus h2 {
  color: #000000;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
}

.contactus h2::after {
  content: "";
  position: absolute;
  background-color: #db5461;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
}

.contactus form {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactus form .input__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactus form .input__name fieldset:nth-of-type(1) {
  margin-right: 10px;
}

.contactus form fieldset {
  margin-top: 16px;
  border-radius: 2px;
}

.contactus form fieldset legend {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.contactus form input,
.contactus form textarea {
  border: none;
  padding: 5px;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 1.2rem;
}

.contactus form input[type="button"] {
  height: inherit;
  width: inherit;
  margin-top: 16px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #db5461;
  cursor: pointer;
}

footer {
  background-color: #000000;
  padding: 20px;
  color: #fff;
}

footer .footer__desc p {
  font-size: 1.2rem;
  margin-top: 6px;
  text-align: center;
}

footer .footer__logo {
  font-family: "Nunito", sans-serif;
}

footer .footer__logo p {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

footer .footer__links .footer__link__1,
footer .footer__links .footer__link__2 {
  text-align: center;
}

footer .footer__links .footer__link__1 .link__title,
footer .footer__links .footer__link__2 .link__title {
  font-size: 1rem;
  text-transform: uppercase;
}

footer .footer__links .footer__link__1 .link__lists,
footer .footer__links .footer__link__2 .link__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__links .footer__link__1 .link__lists a,
footer .footer__links .footer__link__2 .link__lists a {
  margin-top: 6px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

footer .footer__copy {
  margin-top: 16px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  nav {
    padding: 0 60px;
  }
  nav .nav__bar {
    display: none;
  }
  nav .nav__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav .nav__items {
    position: static;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  nav .nav__items li {
    margin-top: 0;
  }
  nav .nav__items li a {
    font-size: 1.2rem;
    position: relative;
  }
  nav .nav__items li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #db5461;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  nav .nav__items li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .landing__page {
    padding: 60px;
  }
  .services, .contactus, .aboutus {
    padding: 20px 60px;
  }
}

@media only screen and (min-width: 900px) {
  nav {
    padding: 0 200px;
  }
  .landing__page {
    padding: 120px 200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-position: right top;
  }
  .landing__page .page__semi__title, .landing__page .page__title, .landing__page .page__btns, .landing__page .page__gist {
    width: 60%;
    text-align: left;
  }
  .landing__page .page__btns {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .services, .contactus, .aboutus {
    padding: 60px 200px;
  }
  .services .service__list .service__1, .services .service__list .service__2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services .service__list .service__1 img, .services .service__list .service__2 img {
    max-width: 50%;
  }
  .services .service__list .service__1 p, .services .service__list .service__1 h6, .services .service__list .service__2 p, .services .service__list .service__2 h6 {
    text-align: right;
    padding: 0 10px;
  }
  .services .service__list .service__2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .services .service__list .service__2 p {
    text-align: left;
  }
  .aboutus {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    padding: 20px 200px;
  }
  footer .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer__content .footer__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .footer__content .footer__desc p {
    margin-top: 0;
  }
  footer .footer__content .footer__links {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */